<div class="code-header">
    {% if include.file %}
    <div class="file-name-container">
        <code class="file-name"
            aria-label="File name: {{ include.file }}">
            <i class="far fa-file-edit file-name-icon"></i>
            {{ include.file }}
        </code>
    </div>
    {% endif %}
    {% unless include.copyable == false %}
    <div class="copy-code-container">
        <button class="copy-code-button" data-balloon-pos="right" data-code="{{ include.code | escape }}"
            aria-label="Copy to clipboard" 
            ><i class="far fa-clipboard copy-code-button-icon"></i></button>
    </div>
    {% endunless %}
</div>
```{{ include.lang }}
{{ include.code }}
```